{% extends 'common/admin-base.html' %}
{% load static %}
{% load util_tags %}
{% block css %}
<style>
    .btn-white {
        background-color: #fff !important;
        color: #fa661d !important;
        border: solid 1px #fa661d !important;
        border-radius: 5px !important;
        height: 40px !important;
        padding: 5px 20px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .btn-rgt {
        float: right !important;
    }
    .btn-primary:hover{
            padding: 10px 58px !important;
    }
    .btn-cnf:hover {
        padding: 0px 0px !important;
        background: #fff !important;
        border-radius: 3px !important;
        color: #ff671e !important;
    }
</style>
{% endblock %}
{% block content %}

<div class=" balance-cover  mx-4 " style="min-height: 450px;">
    <div class="row">
        <div class=" balance-main">
            {% if message %}
            <div class="alert-box-outer">
                <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                    id="alertDiv">
                    <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}"
                        onclick="closeAlertModal()">
                        <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField">{{message}}</p>
                </div>
            </div>
            {% endif %}
                <div class="row">
                    <div class="form-group col-lg-2">
                        <input type="text" name="" id="adminName" value="" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group col-lg-2">
                        <select class="custom-select select-list" name="" id="adminStatus">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <button onclick="filterList(this);" class="btn btn-primary button-w">Search</button>
                    </div>

                    <div class="form-group col-lg-6">
                        <a href="/addAdminUsers" class="btn-white btn-rgt"
                            style="float:right;padding: 0.75rem 1.5rem;"><i class="fa fa-solid fa-plus"></i>&nbsp; Add
                            admin user</a>
                    </div>

                </div>
            <table class="table table-striped" style="font-size:13px">
                <tbody>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>User name</th>
                        <th>Admin Type </th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>

                    {% for admin in admins %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{admin.firstname}}</td>
                        <td>{{admin.createdby.email}}</td>
                        <td>{{admin.approval_level}}</td>
                        <td>
                            <a href="/editAdminUser/?slug={{admin.slug}}" class="btn-edit-ben"
                                style="margin-right: 10px;"><i class="far fa-pencil-alt"></i></a>
                            <a onclick="return showModal('{{admin.slug}}','{{admin.firstname}}')" href=""
                                class="btn-open-del-ben"><i class="far fa-trash-alt"></i></a>
                        </td>
                        <td {% if admin.status %} style="color:green;" {% else %} style="color:red;" {% endif %} >{% if admin.status %}Active{% else %}Inactive{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" style="text-align:center;font-size:20px;font-weight: 300;">No records found!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% include 'adminuser-management/modal-delete-adminuser.html' %}
{% endblock %}
{% block extra_script %}
<script>
    function showModal(id, name) {
        $("#modal-delete-adminuser").find("#slug").val(id)
        $("#modal-delete-adminuser").find(".modal-title").text('Do you really want to Delete ' + name + ' ?')
        $("#modal-delete-adminuser").modal("show")
        return false
    }
    function filterList(e) {
        var adminName = $('#adminName').val()
        var adminStatus = $('#adminStatus option:selected').val()
        $.get('/filter-admin',
            {
                'adminName': adminName,
                'adminStatus': adminStatus
            },
            function (data, status) {
                $(".table-striped").replaceWith(data.admin_details);
            });
    }
</script>
{% endblock %}