{% extends 'common/admin-base.html' %}
{% load static %}
{% load util_tags %}
{% block css %}
<style>
    #curr-conversion-row {
        padding: 10px 195px 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class=" balance-cover  mx-4 ">
    <div class="row">
        <div class=" balance-main">
            {% if message %}
            <div class="alert-box-outer">
                <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                    id="alertDiv">
                    <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}" onclick="closeAlertModal()">
                        <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField">{{message}}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="form-group col-lg-6">
                </div>
                <div class="form-group col-lg-6">
                    <a href="/adminUserManagement" style="float:right;padding: 0.75rem 1.5rem;"><i
                            class="fa fa-solid fa-angle-left"></i>&nbsp;Back</a>
                </div>
            </div>
            <form role="form" method="post" action="" id="addUserManagementForm"
                onsubmit="return validateForm('validationClass', 'class')" autocomplete="off">
                {% csrf_token %}
                <div id="curr-conversion-row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="firstName">Name</label>
                                {% if admin_user %}
                                <input type="hidden" name="slug" value="{{admin_user.slug}}">
                                <input type="text" name="FirstName" value="{{admin_user.firstname}}" id="firstName"
                                    class="form-control validationClass" maxlength="150" placeholder="Enter name">
                                {% else %}
                                <input type="hidden" name="slug" value="{{slug}}">
                                <input type="text" name="FirstName" value="{{FirstName}}" id="firstName"
                                    class="form-control validationClass" maxlength="150" placeholder="Enter name">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                {% if admin_user %}
                                <input type="email" name="Email" value="{{admin_user.createdby.email}}" id="email"
                                    class="form-control validationClass" maxlength="75" placeholder="Enter email">
                                {% else %}
                                <input type="email" name="Email" value="{{Email}}" id="email"
                                    class="form-control validationClass" maxlength="75" placeholder="Enter email">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="ApprovalLevel">Admin Type</label>
                                <select class="custom-select select-list validationClass" name="ApprovalLevel"
                                    id="ApprovalLevel">
                                    <option value="" disabled="" selected="">-- Select --</option>
                                    <option value="Inputter">Inputter</option>
                                    <option value="Approver">Approver</option>
                                    <option value="Inputter / Approver">Inputter / Approver</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="confrm-checbox-outer">
                                {% if admin_user %}
                                <label class="check-bx-cmpny-cnfrm custom-checbox-hldr">
                                    <input id="companyTr" type="checkbox" name="Activestatus" {% if admin_user.status %}checked{% endif %}>
                                    <span style="border-radius: 0px" class="checkmark-cmpny-cnfrm"></span>
                                    Active Status
                                </label>
                                {% else %}
                                <label class="check-bx-cmpny-cnfrm custom-checbox-hldr">
                                    <input id="companyTr" type="checkbox" name="Activestatus" {% if Activestatus == 'on' %}checked{% endif %}>
                                    <span style="border-radius: 0px" class="checkmark-cmpny-cnfrm"></span>
                                    Active Status
                                </label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary button-w w-100">
                                    SAVE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}
{% block extra_script %}
<script>
var options = $('#ApprovalLevel option');
var values = $.map(options, e => $(e).val())
$.each(values, function( index, value ) {
  if (value == '{{ApprovalLevel}}'){
    $('#ApprovalLevel option[value="{{ApprovalLevel}}"]').attr('selected', 'selected')
  }
});
</script>
{% endblock %}