{% load util_tags %}
<div class="tr-requests-content">
<table class="table table-striped" style="font-size:13px">
                <tbody>
                    <tr>
                        <th>Created On</th>
                        <th>Transaction No.</th>
                        <th>Email</th>
                        <th>Acc No</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Affiliate Fee</th>
                        <th colspan="2">Action</th>
                    </tr>

                    {% for int_transaction in int_transactions %}
                    {% get_beneficiary int_transaction.transaction as beneficiary %}
                    {% get_recipient_accountnumber int_transaction.transaction as to_accountnumber %}
                    {% get_debit_amount int_transaction.transaction as debit_amount %}
                    {% get_affiliate_amount int_transaction as affiliate_amount %}
                    <tr>
                        <td>{{int_transaction.transaction.createdon|date:'d M Y'}}</td>
                        <td>{{int_transaction.transaction.transactionno}}</td>
                        <td>{{int_transaction.createdby.email}}</td>
                        <td>{{int_transaction.transaction.fromaccount.accountno}}</td>
                        <td>{{debit_amount|floatformat:2}} {{int_transaction.transaction.fromaccount.currency.code}}</td>
                        <td style="color:
                        {% if int_transaction.verificationstatus == 'Executed' %}
                        green;
                        {% elif int_transaction.verificationstatus == 'Refund Requested' or int_transaction.verificationstatus == 'Pending' or int_transaction.verificationstatus == 'Refund Rejected' %}
                        orange;
                        {% elif int_transaction.verificationstatus == 'Refunded' %}
                        red;
                        {% elif int_transaction.verificationstatus == 'Hold' %}
                        blue;
                        {% elif int_transaction.verificationstatus == 'Approved' %}
                        #77b53f;
                        {% endif %}
                        "
                        >{{int_transaction.verificationstatus}}</td>
                        <td>{% if affiliate_amount and int_transaction.transaction.fromaccount.user_account.referred_by %}{{affiliate_amount|default_if_none:'-'}} {% else %} - {% endif %}</td>
                        <td>
                            <a href="{{ int_transaction|get_transaction_endpoint_by_obj }}" class="btn-edit-ben"
                                style="margin-right: 10px;">
                                <i class="far fa-eye" style="
    color: #586168;
"></i></a>

                            <a onclick="showModal('{{ int_transaction|add_type_prefix }}')" href="#"
                                class="btn-open-hide-ben tab-actn-btn">
                                Hide</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" style="text-align:center;font-size:20px;font-weight: 300;">No Records</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

<hr>
    <div class="row" style="margin-top:15px;margin-bottom:20px;">
        <div class="col-sm-12" style="text-align:center">
            <div class="pagination" style="">
            {% if int_transactions.has_other_pages %}
                {% if int_transactions.has_previous %}
                    <a class="btn-page" data-page-num="{{ int_transactions.previous_page_number }}">&laquo;</a>
                {% else %}
                    <a class="disabled"><span>&laquo;</span></a>
                {% endif %}
                {% for i in int_transactions.paginator.page_range %}
                    {% if int_transactions.number == i %}
                    <a data-page-num="{{ i }}" class="active">{{ i }}</a>
                    {% else %}
                    <a class="btn-page" data-page-num="{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if int_transactions.has_next %}
                    <a class="btn-page" data-page-num="{{ int_transactions.next_page_number }}">&raquo;</a>
                {% else %}
                    <a class="disabled"><span>&raquo;</span></a>
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
</div>