{% extends 'common/admin-base.html' %}
{% load static %}
{% load util_tags %}
{% block css %}
<style>
    #curr-conversion-row {
        padding: 10px 195px 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class=" balance-cover  mx-4 ">
    <div class="row">
        <div class=" balance-main">

            <div class="row">
                <div class="form-group col-lg-6">
                </div>
                <div class="form-group col-lg-6">
                    <a href="/bankManagement" style="float:right;padding: 0.75rem 1.5rem;"><i
                            class="fa fa-solid fa-angle-left"></i>&nbsp;Back</a>
                </div>
            </div>
            <form role="form" method="post" action="" id="addOrEditBankForm"
                onsubmit="return validateForm('validationClass', 'class')" autocomplete="off">
                {% csrf_token %}
                <div id="curr-conversion-row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="beneficiaryName">Beneficiary Name</label>
                                <input type="text" name="BeneficiaryName" value="" id="beneficiaryName"
                                    class="form-control validationClass" maxlength="60"
                                    placeholder="Enter Beneficiary Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="beneficiaryAddress">Beneficiary Address</label>
                                <input type="text" name="BeneficiaryAddress" value="" id="beneficiaryAddress"
                                    maxlength="500" class="form-control" placeholder="Enter Beneficiary Address">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="bankName">Bank Name</label>
                                <input type="text" name="BankName" value="" id="bankName"
                                    class="form-control validationClass" maxlength="200" placeholder="Enter Bank Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="accNumber">Account Number</label>
                                <input type="text" name="AcNumber" value="" id="accNumber"
                                    class="form-control validationClass" maxlength="50"
                                    placeholder="Enter Account Number">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="address">Address of Bank</label>
                                <input type="text" name="Address" value="" id="address" maxlength="500"
                                    class="form-control validationClass" placeholder="Enter Address of Bank">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="currencyId">Select Currency</label>
                                <select class="select-list custom-select validationClass" name="CurrencyId"
                                    id="currencyId">
                                    <option value="" disabled="" selected="">-- select currency --</option>
                                    {% for currency in currencies %}
                                    <option value="{{currency.id}}">{{currency.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="swiftCode">BIC/SWIFT Code</label>
                                <input type="text" name="SwiftCode" value="" id="swiftCode"
                                    class="form-control validationClass" maxlength="40"
                                    placeholder="Enter BIC/SWIFT Code">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" name="City" value="" id="city" maxlength="40"
                                    class="form-control validationClass" placeholder="Enter City">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="country">Select Country</label>
                                <select class="select-list custom-select validationClass" name="Country" id="country">
                                    <option value="" disabled="" selected="">-- select country --</option>
                                    {% for country in countries %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-6 col-12">
                            <div class="form-group">
                                <label for="reference">Reference</label>
                                <input type="text" name="Reference" value="" id="reference" maxlength="200"
                                    class="form-control" placeholder="Enter Reference">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary button-w w-100">Add Bank
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}