{% extends 'common/admin-base.html' %}
{% load static %}
{% load util_tags %}
{% block css %}
<style>
    .btn-white {
        background-color: #fff !important;
        color: #fa661d !important;
        border: solid 1px #fa661d !important;
        border-radius: 5px !important;
        height: 40px !important;
        padding: 5px 20px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .btn-rgt {
        float: right !important;
    }
    .filtr-content{
        padding-left:15px;
    }
    .filtr-content .col-lg-2, .filtr-content .col-lg-3{
        padding-left:0;
    }
    .tab-actn-btn{
            border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    margin: 0 1px;
    min-width: 25px;
    display: inline-block;
    color: #586168;
    font-size: 12px;
    min-height: 25px;
    }
    .tab-actn-btn:hover{
        color: #787e83;
    }
</style>
{% endblock %}
{% block content %}
<div class=" balance-cover  mx-4 " style="min-height: 450px;">
    <div class="row">
        <div class=" balance-main">
            <div id="alert-box-outer" class="alert-box-outer" style="display:none">
                <div class="section-alert" style="display: block;" id="alertDiv">
                    <button class="section-alert-close" onclick="closeAlertModal()">
                        <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField" class="refund-err-msg"></p>
                </div>
            </div>
            <form method="post" class="wire-rqsts-form">
                {% csrf_token %}
                <div class="row filtr-content" style="">
                    <div class="form-group col-lg-2">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form-group col-lg-2">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group col-lg-2">
                        <input type="text" class="form-control" id="account" name="accountno" placeholder="Account" value="{{accountno}}">
                    </div>
                    <div class="form-group col-lg-3" style="display:flex">
                        <span style="padding-top:10px;margin-right:5px;">From</span><input type="date" class="form-control" id="fromdate" name="fromdate" value="{{fromdate}}">
                    </div>
                    <div class="form-group col-lg-3" style="display:flex">
                        <span style="padding-top:10px;margin-right:5px;">To</span><input type="date" class="form-control" id="todate" name="todate" value="{{todate}}">
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="custom-select select-list" id="CurrencyId" name="currencyid">
                            <option value="" selected="">Select Currency</option>
                            {% for currency in currencies %}
                            <option value="{{currency.id}}" {% if currencyid == currency.id %}selected{% endif %}>{{currency.code}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="custom-select select-list" id="CountryId" name="tr_status">
                            <option value="" selected="">Select status</option>
                            <option value="Pending" {% if tr_status == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Executed" {% if tr_status == 'Executed' %}selected{% endif %}>Executed</option>
                            <option value="Hold" {% if tr_status == 'Hold' %}selected{% endif %}>Hold</option>
                            <option value="Refund Requested" {% if tr_status == 'Refund Requested' %}selected{% endif %}>Refund Requested</option>
                            <option value="Refunded" {% if tr_status == 'Refunded' %}selected{% endif %}>Refunded</option>
                            <option value="Refund Rejected" {% if tr_status == 'Refund Rejected' %}selected{% endif %}>Refund Rejected</option>
                            <option value="Approved" {% if tr_status == 'Approved' %}selected{% endif %}>Approved</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="custom-select select-list" id="per_page" name="per_page">
                            <option value="20" {% if per_page == '20' %}selected{% endif %}>20</option>
                            <option value="50" {% if per_page == '50' %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page == '100' %}selected{% endif %}>100</option>
                            <option value="200" {% if per_page == '200' %}selected{% endif %}>200</option>
                            <option value="All" {% if per_page == 'All' %}selected{% endif %}>All</option>
                        </select>
                    </div>
                    <input type="hidden" name="action_type" value="filter_transactions">
                    <div class="form-group col-lg-2">
                        <button type="submit" class="btn-white" style="padding: 0.75rem 1.5rem;">Search</button>
                    </div>
                </div>
            </form>
            {% include 'wallet-withdrawal-transfer-request/includes/transfer-requests-table.html' %}
            
        </div>
    </div>
</div>
{% comment %} <div class="row" style="margin-top:15px;margin-bottom:20px;">
    <div class="col-sm-12" style="text-align:center">
        <div class="pagination" style="">
      {% if wallet_withdrawal_transactions.has_other_pages %}
            {% if wallet_withdrawal_transactions.has_previous %}
              <a class="btn-page" data-page-num="{{ wallet_withdrawal_transactions.previous_page_number }}">&laquo;</a>
            {% else %}
              <a class="disabled"><span>&laquo;</span></a>
            {% endif %}
            {% for i in wallet_withdrawal_transactions.paginator.page_range %}
              {% if wallet_withdrawal_transactions.number == i %}
                <a data-page-num="{{ i }}" class="active">{{ i }}</a>
              {% else %}
                <a class="btn-page" data-page-num="{{ i }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if wallet_withdrawal_transactions.has_next %}
              <a class="btn-page" data-page-num="{{ wallet_withdrawal_transactions.next_page_number }}">&raquo;</a>
            {% else %}
              <a class="disabled"><span>&raquo;</span></a>
            {% endif %}
        {% endif %}
    </div>
    </div> {% endcomment %}
<div id="modal-confirm-hide-transaction" class="modal fade">
	<div class="modal-dialog modal-confirm-container" style="box-shadow: 1px 1px 9px 3px #a5a5a559;">
		<div class="modal-content">

			<div class="modal-body">
				<p>Do you really want to Hide this transaction ?</p>
                <input type="hidden" class="wallet_withdrawal_transaction_id">
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-bordered btn-modal-close" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" onclick="submit_form_hide_transaction()">Submit</button>
			</div>
		</div>
	</div>
</div>
</div>
{% include 'bank-management/modal-delete-bank.html' %}
{% endblock %}
{% block extra_script %}
<script>
function closeAlertModal() {
        const elem = document.getElementById('alert-box-outer');
        if (elem) {
            elem.style.display = 'none';
        }
    }
    $(document).on("click",".btn-page",function(){
        next_page = $(this).attr("data-page-num")
        var formData = $('.wire-rqsts-form').serializeArray();
        formData.push({ name: "page", value: next_page });
        formData.push({ name: "is_paginate", value: "true" });
        $.ajax({
            type:'POST',
            data:formData,
            success: function(result) {
                $(".stmnt-table").replaceWith(result.statementtable_html)
            }
        })
    })
function showModal(tr_id){
    $("#modal-confirm-hide-transaction").find(".wallet_withdrawal_transaction_id").val(tr_id)
    $("#modal-confirm-hide-transaction").modal("show")
}

$(document).on("click",".btn-modal-close",function(){

    $(this).closest(".modal").modal("hide")

})

function submit_form_hide_transaction(){
    $.ajax({
        type:'POST',
        data:{
        'wallet_withdrawal_transaction_id':$("#modal-confirm-hide-transaction").find(".wallet_withdrawal_transaction_id").val(),
        'csrfmiddlewaretoken':'{{csrf_token}}',
        'action_type':'hide-transaction'
        },
        success: function(result) {
             if (result.status){
                location.reload()
            }else{
            alert()
                $("#modal-confirm-hide-transaction").modal("hide")
                $(".refund-err-msg").html(result.message)
                $(".alert-box-outer").show()
            }
        }
    })
}
</script>
{% endblock %}