{% load static %}
{% if count == 2 %}
<label for="" style="color: black;">Secondary Account</label>
{% endif %}
<div class="form-group col-lg-4 inp-{{count}}" data-id="{{count}}">
    <label for="accnumber">Account No.</label>
    <input type="text" name="accnumber" id="accnumber" maxlength="50" value="{{accnumber}}" class="form-control accInfo inp-acc"
        onkeypress="return restrictAmount(event)" autocomplete="off"
        onblur="return signUpFieldValidateOnchange(this)" placeholder="Enter Your Account No." minlength="3">
</div>

<div class="form-group col-lg-4 inp-{{count}}" data-id="{{count}}">
    <label for="balance">Balance</label>
    <input type="text" name="balance" id="balance" maxlength="50" value="{{balance}}" class="form-control accInfo"
        onkeypress="return restrictAmount(event)" autocomplete="off"
        onblur="return signUpFieldValidateOnchange(this)" placeholder="Enter Account Balance">
</div>
<div class="form-group col-lg-4 inp-{{count}}" data-id="{{count}}">
    <label for="currency">Currency</label>
    <select id="currency" name="currency" class="custom-select select-list accInfo inp-curr" required>
        <option value="">Select Currency</option>
        {% for currency in currencies %}
        <option data-icon="{% if currency.flag %}{{currency.flag.url}}{% else %}/other/no-image.jpg{% endif %}"
            value="{{currency.code}}" {% if secondaryCurrency == currency.code %}selected{% endif %}>
            {{currency.code}} {{currency.name}}</option>
        {% endfor %}
    </select>
</div>
{% if count > 2 %}
<div class="col-12 inp-{{count}}" data-id="{{count}}"><button class="btn-default del-btn" type="button" id="removeUserBtn1"
        onclick='return removeAccount("{{count}}");'><img src="{% static 'dash/assets/img/delete.png' %}" alt="">
        Delete</button></div>
{% endif %}