{% extends 'accounts/openaccount/personal-signup/reg-base.html' %}
{% load static %}
{% block content %}
<div class="container acc-det-container acc-det-sm">
    <div class="acc-det">
        {% if message %}
        <div class="alert-box-outer">
            <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                id="alertDiv">
                <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}"
                    onclick="closeAlertModal()">
                    <i class="fas fa-times"></i>
                </button>
                <p style="text-align: center" id="errorField">{{message}}</p>
            </div>
        </div>
        {% endif %}
        <div class="acc-det-logo">
            <a href="/dahboard">
                <img src="{% static 'dash/assets/img/logo-acc.png' %}" alt="">
            </a>
        </div>
        <div class="acc-det-body-content acc-det-login">

            <div class="form-content-row">
                <h6>Please create your password</h6>
                <form id="pwResetForm" method="post" action="" onsubmit="return validateForm('pwResetForm', 'form');">
                    {% csrf_token %}
                    <input type="hidden" name="activationLink" value="{{activationLink}}">
                    <input type="hidden" name="ActivationcodeId" value="{{ActivationcodeId}}">
                    <div class="row form-row-signup form-group">
                        <label style="text-align: start;margin-left: 0px;padding-left: 0px"
                            for="password">Password</label>
                        <input type="password" name="password" id="password" value="{{password}}" class="form-control"
                            minlength="10" maxlength="50" placeholder="Enter Password" required="">
                    </div>
                    <!-- <br> -->
                    <div class="row form-row-signup form-group">
                        <label style="text-align: start;margin-left: 0px;padding-left: 0px" for="confirmPassword">Re
                            enter password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" value="{{confirmPassword}}"
                            class="form-control" minlength="10" maxlength="50" placeholder="Re enter your password"
                            required="">
                    </div>
                    <br>
                    <div class="input-btn-hldr">
                        <button class="btn btn-primary button-w w-100 signup-btn" type="submit">Submit</button>
                        <p style="color: red" id="errorField"></p>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}