{% extends 'common/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/wSelect.css' %}">
<style>
    .curr-conversion-row {
        padding: 10px 50px;
    }

    .curr-conversion-row {
        align-items: center;
        justify-content: center;
    }

    .notVerifiedData h2 {
        font-size: 21px;
        font-weight: 100;
        padding-top: 100px;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}


<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <div class="balance-cover  mx-4 " style="min-height: 470px;">
        <div class=" balance-main">
            <div class=" balance-main">
                <div class="row curr-conversion-row m-0">
                    <div class="col-lg-10 col-md-10 col-12 curr-conversion-card notVerifiedData">
                        <h2 id="condition-label">Transactions has been locked out for 12 hours due to multiple failed otp attempts.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}