SECRET_KEY=django-insecure-2=_9lsuv6h0!h1x7(k3#q7+10e(s9!bs1ahd!=y=y*h%4x3kj$
DATABASE_NAME=test_db
DATABASE_USER=test_user
DATABASE_PASS=test_password
DATABASE_HOST=test_host
DOMAIN=http://test_domain.com:9000
CORS_ORIGIN_WHITELIST=['http://test_domain.com:9001']
CSRF_TRUSTED_ORIGINS=['http://test_domain.com:9001']
CORS_ORIGIN_ALLOW_ALL=True

DEBUG=True
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER=test@example.com
EMAIL_HOST_PASSWORD=TEST@123

TWILIO_ACCOUNT_SID=TEST_SID
TWILIO_AUTH_TOKEN=TEST_AUTH_TOKEN
TWILIO_NUMBER=+123456789
ALLOWED_HOSTS=['*']

AWS_S3_ACCESS_KEY_ID=TEST_ACCESS_KEY
AWS_S3_SECRET_ACCESS_KEY=TEST_SECRET_KEY
AWS_STORAGE_BUCKET_NAME=test-bucket
AWS_QUERYSTRING_AUTH=False
AWS_DEFAULT_ACL=public-read
DEFAULT_FILE_STORAGE=entrebiz.storages.MediaStore
AWS_S3_MEDIA_URL=media/
AWS_S3_BUCKET_URL=https://test-bucket.s3.ap-southeast-1.amazonaws.com/
