{% extends 'common/admin-base.html' %}
{% load static %}
{% load util_tags %}
{% block css %}
<style>
    .btn-white {
    background-color: #fff !important;
    color: #fa661d !important;
    border: solid 1px #fa661d !important;
    border-radius: 5px !important;
    height: 40px !important;
    padding: 5px 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    }
    .btn-rgt {
    float: right !important;
    }
    .filtr-content {
    padding-left: 15px;
    }
    .filtr-content .col-lg-2,
    .filtr-content .col-lg-3 {
    padding-left: 0;
    }
    .tab-actn-btn {
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    margin: 0 1px;
    min-width: 25px;
    display: inline-block;
    color: #586168;
    font-size: 12px;
    min-height: 25px;
    }
    .tab-actn-btn:hover {
    color: #787e83;
    }
</style>
{% endblock %}
{% block content %}
<div class=" balance-cover  mx-4 " style="min-height: 450px;">
    <div class="row">
        <div class=" balance-main">
            {% if message %}
            <div class="alert-box-outer">
                <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                    id="alertDiv">
                    <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}"
                        onclick="closeAlertModal()">
                    <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField">{{message}}</p>
                </div>
            </div>
            {% endif %}
            <div class="row filtr-content" style="">
                <div class="form-group col-lg-2">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{name}}">
                </div>
                <div class="form-group col-lg-2">
                    <input type="text" class="form-control" id="shortform" name="shortform" placeholder="Shortform"
                        value="{{shortform}}">
                </div>
                <div class="form-group col-lg-2">
                    <input type="text" class="form-control" id="countrycode" name="countrycode" placeholder="Country code"
                        value="{{countrycode}}">
                </div>
                <div class="form-group col-lg-2">
                    <select class="custom-select select-list" id="per_page" name="per_page">
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                    </select>
                </div>
                <input type="hidden" name="action_type" value="country_search">
                <div class="form-group col-lg-2">
                    <button onclick="filterCountry(this);" class="btn-white"
                        style="padding: 0.75rem 1.5rem;">Search</button>
                </div>
                <div class="form-group col-lg-2">
                    <a href="/add-country" class="btn-white btn-rgt"
                        style="float:right;padding: 0.75rem 1.5rem;"><i class="fa fa-solid fa-plus"></i>&nbsp;
                    Add Country</a>
                </div>
            </div>
            {% include 'country-management/country-table.html' %}
        </div>
    </div>
</div>
<!-- country disabe or enable modal-->
<form method="POST">
    {% csrf_token %}
    <div id="modal-disable-or-enable" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <h6 style="font-weight: 100;" class="modal-title w-100">Do you really want to
                        <span id="statusSpan"> <b></b></span>?
                    </h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" style="background-color: #fff;color: #ff6600;"
                        class="btn btn-bordered"
                        data-bs-dismiss="modal">CANCEL</button>
                    <input type="hidden" name="action_type" value="disable_or_enable">
                    <input type="hidden" name="country_id" id="country-disable-enable">
                    <input type="hidden" name="type_disable_or_enable" id="type-disable-or-enable">
                    <button type="submit" style="background-color: #fa661d;padding: 0px 0px;"
                        class="btn btn-primary btn-cnf ripple-efct btn-open-dlt-cnfrm-modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--  -->
{% endblock %}
{% block extra_script %}
<script>
    $(document).on("click", ".btn-page", function () {
        next_page = $(this).attr("data-page-num")
        $.ajax({
            type: 'POST',
            data: {
                'page': next_page,
                'action_type': 'getcountry_bypage',
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function (result) {
                $(".tr-requests-content").replaceWith(result.country_table)
            }
        })
    })
    
    function filterCountry(e) {
        var name = $('#name').val().trim()
        var shortform = $('#shortform').val().trim()
        var countrycode = $('#countrycode').val().trim()
        var per_page = $('#per_page option:selected').val()
        $.ajax({
            type: 'POST',
            data: {
                'name': name,
                'shortform': shortform,
                'countrycode': countrycode,
                'per_page': per_page,
                'action_type': 'country_search',
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function (result) {
                $(".tr-requests-content").replaceWith(result.country_table)
            }
        })
    }
    function enableORDisableCountry(type, name, id) {
        var HtmlContent = document.getElementById('statusSpan');
        HtmlContent.innerHTML = '';
        HtmlContent.innerHTML = (type === 1) ? `enable <b>${name}</b>` : `disable <b>${name}</b>`;
        document.getElementById('country-disable-enable').value = id;
        document.getElementById('type-disable-or-enable').value = type;
        $("#modal-disable-or-enable").modal("show")
        return false
    }
</script>
{% endblock %}
