
<div id="modal-add-beneficiary" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header flex-column">
				<!-- <div class="icon-box">
					<i class="fas fa-times"></i>
				</div> -->
				<h6 class="modal-title w-100">Nick Name</h46>
			</div>
            <form method="POST">
                {% csrf_token %}
			<input type="text" name="NickName" id="NickName" maxlength="20" class="validationClass" placeholder="Enter Nick name" required>
            <input type="hidden" name="action_type" value="add_as_ben" >
			<div class="modal-footer justify-content-center">
				<button type="button" style="background-color: #a8a8a8;padding: 0px 0px;" class="btn btn-primary ripple-efct btn-open-dlt-cnfrm-modal" data-bs-dismiss="modal">CANCEL</button>
					<input type="hidden" class="accnt-id" name="account_id" value="">
					<button type="submit" style="background-color: #fa661d;padding: 0px 0px;" class="btn btn-primary ripple-efct btn-open-dlt-cnfrm-modal">CONFIRM</button>
				</form>
			</div>
		</div>
	</div>
</div>