.btn-cancel-currency{
    border-style: solid !important;
    border-width: thin !important;
}

.btn-custom-w {
    padding: 10px 30px !important;
}

.acc-blnc-amt {
    color: #ff6600;
    font-size: 15px !important;
}

.acc-primary{
    color: #ff6600;
}

.acc-secondary{

}

