{% extends 'common/base.html' %}
{% load static %}


{% block content %}

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    
    <div class="balance-cover  mx-4">
        {% if message %}
                <div class="alert-box-outer">
                    <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                        id="alertDiv">
                        <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}" onclick="closeAlertModal()">
                            <i class="fas fa-times"></i>
                        </button>
                        <p style="text-align: center" id="errorField">{{message}}</p>
                    </div>
                </div>
                {% endif %}
        <div class="container-fluid py-5 ">
            <div class="row" style="align-items: center;justify-content: center;">
                <div class="col-lg-11 col-md-10 col-12">
                    <div class="conversion-confirm-sec">
                        <div class="">
                            <div class="curr-conversion-sec">
                                <div class="row curr-conversion-row m-0" style="justify-content: center;">
                                    <div class="col-lg-8 col-md-10 col-12 curr-conversion-card">
                                        <div class="confirm-title">
                                            <img style="padding-left: 50%; padding-bottom: 9px;" src="{% static 'dash/assets/img/success-alert.png' %}" alt="">
                                            <h3 style="text-align: center;">Transaction successfully completed</h3>
                                                <p style="text-align: center;">Transaction No: {{request.session.internationalTransaction.transactionno}}</p>
                                                <p style="text-align: center;">Date and Time: {{request.session.internationalTransaction.transaction_datetime_utc}}</p>
                                                <hr>
                                        </div>
                                        <div class="confirm-tab-holder">
                                            <table class="confirm-table confirm-transactions mb-2" style="width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td>Sender Name</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.sender_name}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Debit Account</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.FromAccount}}&nbsp;({{request.session.internationalTransaction.from_currency_code}})</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Credit Account</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.BeneficiaryACNo}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Beneficiary Name</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.BeneficiaryName}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank Name</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.BankName}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank SWIFT Code</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.SwiftCode}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank City</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.City}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank Country</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Country}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Currency</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Currency}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% if request.session.internationalTransaction.PurposeType == 'Other Remittance' %}
                                                    <tr>
                                                        <td>Purpose of remittance</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.PurposeType}}&nbsp;({{request.session.internationalTransaction.PurposeNote}})</strong>
                                                        </td>
                                                    </tr>
                                                    {% else %}
                                                    <tr>
                                                        <td>Purpose of remittance</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.PurposeType}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    {% if request.session.internationalTransaction.Email %}
                                                    <tr>
                                                        <td>Beneficiary Email</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Email}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    <!--  -->
                                                    <tr class="">
                                                        <td>Box No.</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Boxno}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Street</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Street}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>City</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.userCity}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>State</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.State}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>User Country</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.userCountry}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Tel/Mob No.</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Phoneno}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% if request.session.invoice_document.invoice_doc %}
                                                    <tr class="">
                                                        <td>Invoice</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.invoice_document.invoice_doc}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    <!--  -->
                                                    <tr class="">
                                                        <td>Net Amount</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.Amount}}&nbsp;{{request.session.internationalTransaction.from_currency_code}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Conversion Fee</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.conversion_fee}}&nbsp;{{request.session.internationalTransaction.from_currency_code}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wire Transfer Fee</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.wire_transfer_fee}}&nbsp;{{request.session.internationalTransaction.from_currency_code}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cable Charges</td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.cable_charge}}&nbsp;{{request.session.internationalTransaction.from_currency_code}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Debit Amount</td>
                                                        <td><span>:</span><strong>&nbsp;{{request.session.internationalTransaction.debit_amount}}&nbsp;{{request.session.internationalTransaction.from_currency_code}}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #e8f8ed;">
                                                        <td><strong>Credit Amount</strong></td>
                                                        <td><span>:</span>&nbsp;<strong>{{request.session.internationalTransaction.credit_amount}}&nbsp;{{request.session.internationalTransaction.Currency}}</strong>
                                                        </td>
                                                    </tr>
                                                    {% if request.session.internationalTransaction.Note %}
                                                    <tr>
                                                        <td>Note</td>
                                                        <td><span>:</span>&nbsp;<span
                                                                class="confirm-note pl-0"><strong>{{request.session.internationalTransaction.Note}}</strong></span>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                            <div class="row confirm-btn-holder transactionSucessButton" id="transactionSucessButton">
                                                <div class="col-sm-12">
                                                    <a href="/"
                                                        class="btn btn-primary w-100"
                                                        id="done">DONE
                                                    </a>
                                                </div>
                                                <div class="col-sm-12">
                                                <a href="/international-wire-transfer/"
                                                   class="btn btn-light w-100" id="another" style="border: solid 1px #e1e1e1;border-radius: 5px;background-color: #fff;color: #646464">
                                                    <img src="{% static 'dash/assets/img/another.png' %}" alt=""> Another
                                                    Transfer
                                                </a>
                                            </div>
                                            <div class="col-sm-6">
                                                <button
                                                    class="btn btn-light w-100 btn-download-pdf"
                                                    id="download" style="border: solid 1px #e1e1e1;border-radius: 5px;background-color: #fff;color: #646464"><img
                                                        src="{% static 'dash/assets/img/pdf.png' %}">
                                                    Download
                                                </button>
                                            </div>
                                            <div class="col-sm-6">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                <button class="btn btn-light w-100" id="download" style="border: solid 1px #e1e1e1;border-radius: 5px;background-color: #fff;color: #646464" type="submit">
                                                    <img src="{% static 'dash/assets/img/inbox-light.png' %}">
                                                        Send Mail
                                                </button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</main>
<script src="{% static 'dash/assets/js/jquery-3.5.1.slim.min.js' %}"></script>
<script>
$(document).on("click",".btn-download-pdf",function(){
$.ajax({
        type:'GET',
        data:{
        'export_pdf':"True"
        },
        success: function(result) {
            filepath = result.filepath
            // create a tag
            var download_file = $("<a>");
            download_file.addClass("dwnld_file")
            download_file.attr("download", filepath);
            download_file.attr("href", filepath);
            $('body').append(download_file);
            download_file[0].click();
            // $('.dwnld_file').remove(); // remove tag once file downloaded
        }
    });
})
</script>
{% endblock %}
