{% extends 'common/base.html' %}
{% load static %}


{% block content %}
<style>
    .balance-cover {
        height: 85vh;
    }

    .btn-open-dlt-cnfrm-modal:hover {
        padding: 0.75rem 1.5rem;
    }

    .list-account-content {
        padding: 100px 0px 0px 200px;
    }
    #err-oldpassword{
        margin-bottom: 0rem;
    }
    #err-password{
        margin-bottom: 0rem;
    }
    #err-confirmPassword{
        margin-bottom: 0rem;
    }
</style>

<div class=" balance-cover  mx-4 ">
    <div class="row">
        <div class=" balance-main">

            <h6>Change Password</h6>
            <hr>
            {% if message %}
            <div class="alert-box-outer">
                <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;"
                    id="alertDiv">
                    <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}"
                        onclick="closeAlertModal()">
                        <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField">{{message}}</p>
                </div>
            </div>
            {% endif %}
            <div class="">

                <form method="POST" onsubmit="return validateForm('validationClass', 'class')">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-sm-6" style="margin-left: 26%;margin-top: 3%;">
                            <div>
                            <label for="oldpassword">Current Password</label>
                            <input id="oldpassword" name="oldpassword" placeholder="Enter Current Password"
                                type="password" class="form-control validationClass"  maxlength="50" value="{{oldpassword}}">
                            </div>
                            <div>
                            <label for="password">New Password</label>
                            <input id="password" name="password" placeholder="Enter New Password" type="password"
                                class="form-control validationClass" minlength="10" maxlength="50" value="{{password}}">
                            </div>
                            <div>
                            <label for="confirmPassword">Re Enter New Password</label>
                            <input id="confirmPassword" name="confirmPassword" placeholder="Re Enter New Password"
                                type="password" class="form-control validationClass" minlength="10" maxlength="50" value="{{confirmPassword}}">
                            </div><br>
                            <button type="submit" class="form-control btn btn-primary">Update</button>
                        </div>

                    </div>
                </form>

            </div>


        </div>
    </div>

</div>
{% endblock %}
