{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrebiz</title>
    <link rel="icon" type="image/png" href="{% static 'dash/assets/img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'personal-reg/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dash/assets/css/soft-ui-dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dash/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/wSelect.css' %}">
</head>

<body class="dashboard-bg dashboard-body-top">
    <div class="row-fluid acc-det-body acc-det-body-lg">
        <div class="container acc-det-container acc-det-sm">
            <div class="acc-det">
                <div class="acc-det-logo">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'dash/assets/img/logo-acc.png' %}" alt="">
                    </a>
                    <h2 class="login-title"><span class="secondary-clr">Admin Panel</span></h2>
                </div>
                <div class="acc-det-body-content acc-det-login">
                    {% if message %}
                    <div class="alert-box-outer">
                        <div class="{% if status %}success-alert{% else %}section-alert{% endif %}"
                            style="display: block;" id="alertDiv">
                            <button class="{% if status %}success-alert-close{% else %}section-alert-close{% endif %}"
                                onclick="closeAlertModal()">
                                <i class="fas fa-times"></i>
                            </button>
                            <p style="text-align: center" id="errorField">{{message}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-content-row">
                        <form id="loginForm" method="post" action="" onsubmit="">
                            {% csrf_token %}
                            <div class="input-icon-hldr">
                                <div class="icon">
                                    <img src="{% static 'dash/assets/img/user.png' %}" alt="">
                                </div>
                                <input type="email" class="input-box" placeholder="Email" maxlength="50" name="Email"
                                    value="{{Email}}" required="">
                            </div>
                            <div class="input-icon-hldr">
                                <div class="icon">
                                    <img src="{% static 'dash/assets/img/lock.png' %}" alt="">
                                </div>
                                <input class="input-box" type="password" placeholder="Password" maxlength="50"
                                    name="Password" value="{{Password}}" required="">
                            </div>
                            <div class="input-btn-hldr">
                                <button class="btn-primary acc-submt-btn ripple-efct" type="submit">Login</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footer-sec">
        <p>&copy; 2021 Entrebiz. All Rights Reserved. &nbsp;&nbsp;</p>
    </div>
</footer>

</html>