
{% extends 'common/base.html' %}
{% load static %}


{% block content %}


    <div class=" balance-cover  mx-4 ">
        <div class="row">
        <div class =" balance-main">
{% if message %}
            <div class="alert-box-outer">
                <div class="{% if status %}success-alert{% else %}section-alert{% endif %}" style="display: block;" id="alertDiv">
                    <button class="section-alert-close" onclick="closeAlertModal()">
                        <i class="fas fa-times"></i>
                    </button>
                    <p style="text-align: center" id="errorField">{{message}}</p>
                </div>
            </div>
            {% endif %}


<form method="post">
            {% csrf_token %}
<input type="hidden" name="id" value="{{id}}">
<input type="hidden" name="beneficiary_type" value="{{beneficiary_type}}">
{% if beneficiary_type == 'transaction' %}
<div class="row">
    <div class="form-group col-lg-6">
        <label>Nick Name</label><input type="text" name="name" value="{{name}}" class="form-control" required>
    </div>
    <div class="form-group col-lg-6">
        <label>Account Number</label><input type="text" name="accountnumber" value="{{accountnumber}}" class="form-control" required>
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6">
        <label>First Name</label><input type="text" name="firstname" value="{{firstname}}" class="form-control" disabled>
    </div>
    <div class="form-group col-lg-6">
        <label>Last Name</label><input type="text" name="lastname" value="{{lastname}}" class="form-control"  disabled>
    </div>
</div>
{% else %}
<div class="row">
    <div class="form-group col-lg-6">
        <label>Beneficiary Account No</label><input type="text" name="accountnumber" value="{{accountnumber}}" class="form-control" required>
    </div>
    <div class="form-group col-lg-6">
        <label>Beneficiary Name</label><input type="text" name="name" value="{{name}}" class="form-control" required>
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6">
        <label>Bank Name</label><input type="text" name="bankname" value="{{bankname}}" class="form-control" required>
    </div>
    <div class="form-group col-lg-6">
        <label>Bank Swift Code</label><input type="text" name="swiftcode" value="{{swiftcode}}" class="form-control" required>
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6">
        <label>Bank City</label><input type="text" name="city" value="{{city}}" class="form-control" required>
    </div>
    <div class="form-group col-lg-6">
        <label>Bank Country</label>
        <select name="country" class="custom-select select-list" required>
            <option value="" disabled="">
                -Select Country-
            </option>
            {% for cntry in countries %}
                <option value="{{cntry.id}}" {% if country == cntry.id %}selected{% endif %}>{{cntry.shortform}}</option>
            {% endfor %}
        </select>
        <p>{{ form.country.errors }}</p>
    </div>
<div class="row">
    <div class="form-group col-lg-6">
    <label>Currency</label>
        <select id="CurrencyId" name="currency" class="custom-select select-list" required>
            {% for crncy in currencies %}
                <option value="{{crncy.id}}" {% if currency == crncy.id %}selected{% endif %}>
                    {{crncy.code}}
                </option>
            {% endfor %}
        </select>
    <p>{{ form.currency.errors }}</p>
    </div>
    <div class="form-group col-lg-6">
    <label>Beneficiary Email (optional)</label>
        <input type="text" name="email" value="{{email|default_if_none:''}}" class="form-control">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span style="list-style:none;color:orangered">{{ error|escape }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
<input type="submit" value="submit" class="btn btn-primary button-w btn-edit-beneficiary">
</form>
        </div>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
<script>
      function closeAlertModal() {
        $(".alert-box-outer").hide()
    }
</script>
{% endblock %}